@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Power Green Small';
	src: url(/assets/fonts/PowerGreenSmall.ttf);
}

@layer base {
	html {
		font-family: 'Power Green Small', system-ui, sans-serif;
	}
}

#root {
	box-sizing: border-box;
}

html {
	border-radius: 10px;
	width: 280px;
	height: 530px;

	background-image: url(../assets/img/background.png);
	object-fit: cover;
	background-position: center;
	background-size: cover;
	backdrop-filter: blur(2px);

	color: theme('colors.gray.700');
}

/** Scrollbar **/
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background: theme('colors.gray.400');
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: theme('colors.gray.500');
}

.container-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titlebar {
	background-image: url(../assets/sprites/ui/titlebar.png);
	height: 30px;
}

.menubar {
	background-image: url(../assets/sprites/ui/menubar.png);
	height: 28px;
}

.home-button {
	background-image: url(../assets/sprites/ui/home-button.png);
	height: 84px;
	width: 260px;
}

.home-button:hover {
	background-image: url(../assets/sprites/ui/home-button-selected.png);
}

.label-l {
	background-image: url(../assets/sprites/ui/label-l.png);
	height: 30px;
	width: 7px;
}

.label-m {
	background-image: url(../assets/sprites/ui/label-m.png);
	height: 30px;
}

.label-r {
	background-image: url(../assets/sprites/ui/label-r.png);
	height: 30px;
	width: 8px;
}

.pkm-label:hover .label-l {
	background-image: url(../assets/sprites/ui/label-l-selected.png) !important;
}

.pkm-label:hover .label-m {
	background-image: url(../assets/sprites/ui/label-m-selected.png) !important;
}

.pkm-label:hover .label-r {
	background-image: url(../assets/sprites/ui/label-r-selected.png) !important;
}

.device-bg {
	background-image: url(../assets/sprites/ui/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.pc-sprite {
	object-fit: none;
	object-position: -20px -12px;
	position: absolute;
}

.shadow-button {
	text-shadow: 2px 0px 0px #606060;
}
